.header {
  background-color: rgba($primary-color, 0.95);
  backdrop-filter: blur(3px);
  display: table;
  color: $white;
  height: 50px;
  position: fixed;
  text-shadow: $black 0 1px 0;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 10;

  .site_title {
    display: table-cell;
    font-weight: bold;
    margin: 0 20px 0 0;
    padding: 0 30px;
    vertical-align: middle;
  }

  #site_title_image {
    display: block;
    height: 30px;
  }

  .header-item {
    display: table-cell;
    vertical-align: middle;

    &,
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 14px;
      list-style: none;
    }

    a {
      color: rgba($white, 0.9);
      text-decoration: none;
      transition: background 250ms, color 250ms;
    }

    > li {
      display: inline-block;
      margin: 10px 5px 10px 0;
      position: relative;

      > a {
        border-radius: $radius;
        padding: 5px 10px;
      }

      &.has_nested {
        > a,
        &:hover > a,
        &.current > a {
          background-position: calc(100% - 7px) 50%;
          background-repeat: no-repeat;
        }

        > a {
          background-image: asset-url('active_admin/nested_menu_arrow.gif');
          padding-right: 20px;
        }

        &:hover > a,
        &.current > a {
          background-image: asset-url('active_admin/nested_menu_arrow_dark.gif');
        }

        &:hover > a {
          border-radius: $radius $radius 0 0;
        }
      }

      &:hover ul {
        height: auto;
        opacity: 1;
        transform: scale(1);
      }

      &.current > a,
      &:hover > a {
        background: tint($primary-color, 25%);
        color: $white;
      }
    }

    ul {
      background: tint($primary-color, 25%);
      border-radius: 0 $radius $radius $radius;
      height: 0;
      max-width: calc(100% + 20px);
      min-width: 175px;
      opacity: 0;
      overflow: hidden;
      padding: 5px 10px;
      position: absolute;
      transform: scale(0);
      transform-origin: left top;
      transition: opacity 250ms, transform 250ms;
      width: 20%;

      a {
        display: block;
        padding: 5px 0;
        transition: margin 250ms;

        &:hover {
          margin-left: 3px;
          color: $white;
        }
      }
    }
  }

  #tabs {
    width: 100%;
  }

  #utility_nav {
    color: $silver;
    display: table-cell;
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right;
    transition: color 250ms;
    white-space: nowrap;

    a {
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }

    li {
      display: inline;
    }
  }
}
