.blank_slate_container {
  text-align: center;

  .blank_slate {
    border: 1px dashed $silver;
    border-radius: 4px;
    color: rgba($text-color, 0.75);
    display: inline-block;
    margin-top: 80px;
    padding: 50px 100px;
    text-align: center;
  }

  span,
  small {
    display: block;
    line-height: 1.5;
  }

  // Medias
  @media #{$phone-screen} {
    .blank_slate {
      margin: 40px 0;
      padding: 15px;
    }
  }
}
