table.index_grid td {
  border: none;
  background: none;
  margin: 0;
  padding: 0 20px 20px 0;
}

.columns {
  clear: both;
  margin-bottom: 10px;
  padding: 0;

  img {
    max-width: 100%;
  }

  .column {
    float: left;
  }
}

// Medias
@media #{$largest-phone-screen} {
  .columns .column {
    float: none;
    margin-right: 0 !important;
    width: 100% !important;
  }
}
