// Overlay
.ui-widget-overlay {
  animation: fade-in 250ms;
  position: fixed;
  background: rgba($white, 0.9);
  backdrop-filter: blur(3px);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
}

// Dialog
.ui-dialog {
  @extend %box;
  animation: scale-up 250ms 50ms forwards;
  opacity: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  transform-origin: center;
  z-index: 1002;

  .ui-dialog-titlebar {
    @extend %header;

    span {
      font-size: 18px;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    @include clearfix;
    margin: 10px 0;
  }

  label {
    float: left;
    width: 20%;
  }

  form,
  .ui-dialog-buttonpane {
    padding: 8px 15px 12px;
    text-align: center;
  }

  .ui-dialog-buttonpane button {
    &:first-of-type {
      @extend %primary-button;
    }

    + button {
      margin-left: 5px;
    }
  }
}

.active_admin_dialog.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}
