.paginated_collection {
  margin-bottom: 20px;
}

#index_footer {
  margin-top: 20px;
}

.pagination,
.pagination_information,
.pagination_per_page,
.download_links {
  font-size: 12px;
}

// Information
.pagination_information {
  color: rgba($text-color, 0.75);

  b {
    color: $text-color;
  }
}

// Per Page
.pagination_per_page select {
  padding: 1px 5px;
}

// Pagination
.pagination {
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  a,
  .current {
    background-color: shade($white, 5%);
    background-image: linear-gradient(to bottom, $white, shade($white, 5%));
    border: 1px solid $silver;
    border-radius: $radius;
    box-shadow: 1px 1px 1px rgba($black, 0.05), inset 0 1px 0 0 $white;
    display: inline-block;
    padding: 6px 10px 5px;
    text-decoration: none;
    transition: background-color 250ms;
    margin: 0 1px 4px;
  }

  a:not(.current):hover {
    background: $white;
  }

  .current {
    background: $primary-color;
    border-color: shade($primary-color, 10%);
    box-shadow: inset 0 1px 5px 0 rgba($black, 0.25);
    color: $white;
  }
}

// Medias
@media #{$largest-phone-screen} {
  .pagination {
    margin-bottom: 10px;
  }

  .pagination_information,
  .pagination_per_page,
  .download_links {
    text-align: center;
  }
}

@media #{$tablet-and-desktop-screen} {
  #index_footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pagination {
    display: block;
    margin-top: 10px;
    order: 10;
    width: 100%;
  }
}
